DATABASE_URL="postgresql://postgres:Postgres%40123@localhost:5433/job_board_db"
JWT_SECRET="myjwtsecretkey"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=587
MAIL_USER="youremail@gmail.com"
MAIL_PASS="yourgoogleapppassword"
MAIL_FROM="youremail@gmail.com"